html, body {
    margin: 0;
}

.content {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 2fr 5fr 5fr;
    grid-template-rows: 1fr 10fr;
}

.nav {

}
.menu {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: solid black 1px;
}

.expanded_tasks {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: solid black 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current_project_view {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border: solid black 1px;
}

.form-container {
    max-width: 500px;
    margin: auto;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  fieldset {
    border: 2px solid #ccc;
    padding: 15px;
  }
  legend {
    font-weight: bold;
  }